{% load i18n %}{% autoescape off %}
Bonjour,

Vous recevez cet email car vous avez demandé un nouveau mot de passe pour votre compte utilisateur l'application de gestion de demandes de soutien covid-19'

Veuillez vous rendre sur cette page et choisir un nouveau mot de passe :
{% block reset_link %}
{{custom_host}}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
Votre nom d'utilisateur, en cas d'oubli: {{ user.get_username }}

Avec nos meilleures salutations,

Ville d'Yverdon-les-Bains

{% endautoescape %}
