{% extends "base_generic.html" %}

{% load i18n %}
{% load bootstrap4 %}

{% block content-fluid %}
  <div class="container-fluid">
    <h1 class="mt-2">{% trans "Confirmer l'envoi de votre demande ?" %}</h1>
    <form method="post">{% csrf_token %}
      <hr>
      <a class="btn btn-primary btn-lg" href="{% url 'permits:permit_request_submit_confirmed' permit_request_id=permit_request.pk %}">{% trans "Confirmer l'envoi" %}</a>
      <a class="ml-2" href="{% url 'permits:permit_request_submit' permit_request_id=permit_request.pk %}">{% trans "Annuler" %}</a>
      <hr>
      <div id="legal-infos">
         <h5>Merci de prendre connaissance des documents suivants</h5>
          <h4 class="text-center">Consulter la <a href="https://mapnv.ch/files/fin/directive_soutien_covid.pdf" target="_blank">directive</a></h4>
           <b>Autres informations</b><br>
           {{ permit_request.administrative_entity.general_informations }}
     </div>
      <h4>{% trans "Détails de la demande:" %} </h4>
      <ul>
        <li>{% trans "Requérant:"%} {{ permit_request.author.user.first_name }}, {{ permit_request.author.user.last_name}}</li>
        <li>{% trans "Demande du:"%} {{ permit_request.created_at }}</li>
      </ul>
    </form>
  </div>
{% endblock %}
